#main-panel {
	display:inline-block;
	vertical-align: bottom;
	padding:10px;
	/*border:1px solid blue;*/
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	background-color: white;
	/*border-radius: 5px;*/
	margin-right:5px;
}

#terms-panel {
	position:relative;
	padding:5px;
	/*border:1px solid black;*/
}

#terms-panel a {
	text-decoration: none;
}

#left-btn {
	padding:5px;
	/*float:left;
	clear:left;*/
	display:inline-block;
	/*border:1px solid black;*/
	margin-right:5px;
	vertical-align: top;
}

#terms-container {
	width:500px;
	/*float:left;*/
	display:inline-block;
	text-align:center;
	padding:5px;
	border:2px solid purple;
	border-radius: 5px; 
}

#terms-scroller {
	overflow:auto;
	white-space:nowrap;
}

#right-btn {
	padding:5px;
	/*float:left;
	clear:right;*/
	margin-left: 5px;
	display:inline-block;
	/*border:1px solid black;*/
	vertical-align: top;
}

.term-holder {
	display:inline-block;
	/*border:1px solid black;*/
	margin:5px;
	/*background-color: white;*/
	/*cursor: pointer;*/
}

#video-panel {
	border:1px solid black;
	padding:5px;
	margin-top:5px;
}

#side-panel {
	display:inline-block;
	/*border:1px solid red;*/
	/*padding:5px;*/
	/*-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;*/
	background-color: white;
	/*border-radius:5px;*/
	margin-left:5px;
}

#options {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-top:10px;
	padding:10px;
}

#lecture-btn-container{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	padding:10px;
	vertical-align: bottom;
}

/*.option-btn {
	padding:5px;
	border:1px solid black;
	border-radius:5px;
	margin-top:5px;
	background-color: white;
	cursor:pointer;
	display:block;
}*/

.option-btn {
	display:block !important;
	margin-top:5px;
}

#tabs {
	display:inline-block;
	/*border:1px solid red;*/
}

#panes {
	display:inline-block;
	width:500px;
	height:500px;
	/*position:relative;*/
	/*vertical-align: middle;*/
	/*border:1px solid green;*/
	background-color: #eee;
}

#panes video {
	/*position:relative;*/
	margin-top:6em;
}

#panes p {
	line-height:500px;
}

.box-container {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	padding:10px;
	margin:10px;
	display:inline-block;
	width:800px;
	background-color: white;
}

.modal-dialog {
	width:800px;
}

