<div>
    <div id="likert" ng-show="qtype=='likert'">
        <img id="worst" width="40px" src="images/thumbs_up.png">
        <table class="center-table">
        <tr>
            <td><label for="SD">1</label></td>
            <td><label for="D">2</label></td>
            <td><label for="N">3</label></td>
            <td><label for="A">4</label></td>
            <td><label for="SA">5</label></td>
        </tr>
        <tr>
            <td><input type="radio" ng-model="answer" name="likert" id="SD" value="-2"></td>
            <td><input type="radio" ng-model="answer" name="likert" id="D" value="-1"></td>
            <td><input type="radio" ng-model="answer" name="likert" id="N" value="0"></td>
            <td><input type="radio" ng-model="answer" name="likert" id="A" value="1"></td>
            <td><input type="radio" ng-model="answer" name="likert" id="SA" value="2"></td>
        </tr>
        </table>
        <img id="best" width="40px" src="images/thumbs_up.png">
    </div>
    <div id="binary" ng-show="qtype=='binary'">
        <table class="center-table">
        <tr>
            <td>
                <label for="radio_false">
                <img id="worst" width="40px" src="images/thumbs_up.png">
                </label>
            </tfd>
            <td>
                <label for="radio_true">
                <img id="best" width="40px" src="images/thumbs_up.png">
                </label>
            </td>
        </tr>
        <tr>
            <td><input type="radio" ng-model="answer" name="binary" id="radio_false" value="0"></td>
            <td><input type="radio" ng-model="answer" name="binary" id="radio_true" value="1"></td>
        </tr>
        </table>
    </div>
</div>