<div>
    <div id="likert" ng-show="isBinary">
        <img id="worst" width="40px" src="images/thumbs_up.png">
        <table class="center-table">
        <tr>
            <td>
                <label for="SD">1</label>
            </td>
            <td>
                <label for="D">2</label>
            </td>
            <td>
                <label for="N">3</label>
            </td>
            <td>
                <label for="A">4</label>
            </td>
            <td>
                <label for="SA">5</label>
            </td>
        </tr>
        <tr>
            <td><input type="radio" name="likert" id="SD"></td>
            <td><input type="radio" name="likert" id="D"></td>
            <td><input type="radio" name="likert" id="N"></td>
            <td><input type="radio" name="likert" id="A"></td>
            <td><input type="radio" name="likert" id="SA"></td>
        </tr>
        </table>
        <img id="best" width="40px" src="images/thumbs_up.png">
    </div>
    <div id="binary">
        <table class="center-table">
        <tr>
            <td>
                <label for="radio_false">
                <img id="worst" width="40px" src="images/thumbs_up.png">
                </label>
            </tfd>
            <td>
                <label for="radio_true">
                <img id="best" width="40px" src="images/thumbs_up.png">
                </label>
            </td>
        </tr>
        <tr>
            <td><input type="radio" name="binary" id="radio_false"></td>
            <td><input type="radio" name="binary" id="radio_true"></td>
        </tr>
        </table>
    </div>
</div>