<section>
	<div class="row text-center topic-bg">
		<div class="col-md-12">
			<div id="main-panel"> <!-- contains terms and video player -->
				<div id="terms-panel">
					<div id="left-btn">
						<a href="#left">&lt;</a>
					</div>
					<div id="terms-container">
						<strong>TERMS</strong>
						<div id="terms-scroller">
							<div class="term-holder" ng-repeat="term in lectureInfo.terms" ng-click="setActiveTerm(term)">
								<p ng-show="showEnglish">{{term.name}}</p>
								<sign-video width="150px" path="{{term.sign_video + ext}}" type="{{format}}">
								</sign-video>
							</div>
						</div> <!-- end scroller -->
					</div> <!-- end container -->
					<div id="right-btn">
						<a href="#right">&gt;</a>
					</div>
				</div> <!-- end terms panel -->
				<div id="video-panel">
					<video-player path="{{activeVideoFile}}{{ext}}" type="{{format}}" width="500px"></video-player>
				</div>

				<video-modal path="{{lectureInfo.lecture_path}}{{ext}}" format="{{format}}"></video-modal>

			</div>
			<div id="side-panel" class="text-center"> <!-- contains options -->
				<div id="lecture-btn-container">
					<button class="btn btn-success" ng-click="openLectureVideo()">
						<div ng-show="showEnglish">Lecture</div>
						<sign-video localpath="videos/video_labels/LECTURE_label_FF_320_BS{{ext}}" type="{{format}}" width="150px">
						</sign-video>
					</button>
				</div>
				<div id="options">
					<strong>OPTIONS</strong>
					
					<button id="sign-btn" class="btn btn-default option-btn" ng-click="setSignVideo()">
						<div ng-show="showEnglish">
						Sign
						</div>
						<sign-video localpath="videos/video_labels/SIGN_label_FF_320_BS{{ext}}" type="{{format}}" width="150px">
						</sign-video>
					</button>

					<button id="definition-btn" class="btn btn-default option-btn" ng-click="setDefVideo()">
						<div ng-show="showEnglish">Definition
						</div>
						<sign-video localpath="videos/video_labels/DEFINITION_LABEL_FF_320_BS{{ext}}" type="{{format}}" width="150px">
						</sign-video>
					</button>

					<button id="example-btn" class="btn btn-default option-btn" ng-click="setExVideo()">
						<div ng-show="showEnglish">Example
						</div>
						<sign-video localpath="videos/video_labels/EXAMPLE_label_FF_320_BS{{ext}}" type="{{format}}" width="150px">
						</sign-video>
					</button>

					<button id="vet-btn" class="btn btn-default option-btn" ng-click="openVettingModal('lg')">
						<div ng-show="showEnglish">Vet
						</div>
						<sign-video localpath="videos/video_labels/vet_label_320{{ext}}" type="{{format}}" width="150px">
						</sign-video>
					</button>
				</div> <!-- close div#options -->
			<div>
		</div>
	</div>	
</section>

<script>
$(document).ready(function() {
	// var left_btn = $('#left-btn');
	// var terms_cont = $('#terms-panel');

	// console.log('Button position: ' + JSON.stringify(left_btn.offset()));
	// console.log('Button Top: ' + left_btn.offset().top);
	// console.log('Button Height: ' + left_btn.outerHeight());

	// console.log('TermC: ' + terms_cont.outerHeight());

	$("#left-btn").css({"margin-top":60});
	$("#right-btn").css({"margin-top":60});

	$('#left-btn').click(function(event) {
		event.preventDefault();
		var currScroll = $('#terms-scroller').scrollLeft();
		$('#terms-scroller').animate({
	        scrollLeft: currScroll - 205
	    }, 250);
	});
		
	$('#right-btn').click(function(event) {
		//console.log('Scrolling...');
		// $('#terms-subcontainer').scrollLeft(100);
		event.preventDefault();
		var currScroll = $('#terms-scroller').scrollLeft();
		$('#terms-scroller').animate({
	            scrollLeft: currScroll + 205
	    }, 250);
			
	});
})

</script>