<section>
	<div class="row text-center topic-bg">
		<div class="col-md-12">
			<div id="main-panel" ng-show="lectureViewed"> <!-- contains terms and video player -->
				<div id="terms-panel">
					<div id="left-btn">
						<a href="#left">&lt;</a>
					</div>
					<div id="terms-container">
						<strong>RELATED TERMS</strong>
						<div id="terms-scroller">
							<div class="term-holder" ng-repeat="term in lectureInfo.terms" ng-click="setActiveTerm(term)">
								<sign-button class="btn btn-default" ng-transclude>
									<p ng-show="showEnglish">{{term.name}}</p>
									<sign-video width="150px" path="{{term.sign_video + ext}}" type="{{format}}">
									</sign-video>
								</sign-button>
							</div>
						</div> <!-- end scroller -->
					</div> <!-- end container -->
					<div id="right-btn">
						<a href="#right">&gt;</a>
					</div>
				</div> <!-- end terms panel -->
				<!-- <div id="video-panel">
					<video-player path="{{activeVideoFile}}{{ext}}" type="{{format}}" width="500px"></video-player>
				</div> -->

				<!-- TEST CODE -->
				
				<!-- END TEST CODE -->

			</div> <!-- close main-panel-->
			<div id="side-panel" class="text-center"> <!-- contains options -->
				<div id="lecture-btn-container">
					<sign-button class="btn btn-success" ng-click="openLectureVideo()" ng-transclude>
						<div ng-show="showEnglish">Lecture</div>
						<sign-video path="videos/video_labels/LECTURE_label_FF_320_BS{{ext}}" type="{{format}}" localpath="yes" width="150px">
						</sign-video>
					</sign-button>
				</div>
				<!-- <div id="options" ng-show="false">
					<strong>OPTIONS</strong>
					
					<sign-button id="sign-btn" class="btn btn-default option-btn" ng-click="setSignVideo()" ng-transclude>
						<div ng-show="showEnglish">
						Sign
						</div>
						<sign-video path="videos/video_labels/SIGN_label_FF_320_BS{{ext}}" type="{{format}}" width="150px" localpath="yes">
						</sign-video>
					</sign-button>

					<sign-button id="definition-btn" class="btn btn-default option-btn" ng-click="setDefVideo()" ng-transclude>
						<div ng-show="showEnglish">Definition
						</div>
						<sign-video path="videos/video_labels/DEFINITION_LABEL_FF_320_BS{{ext}}" type="{{format}}" width="150px" localpath="yes">
						</sign-video>
					</sign-button>

					<sign-button id="example-btn" class="btn btn-default option-btn" ng-click="setExVideo()" ng-transclude>
						<div ng-show="showEnglish">Example
						</div>
						<sign-video path="videos/video_labels/EXAMPLE_label_FF_320_BS{{ext}}" type="{{format}}" width="150px" localpath="yes">
						</sign-video>
					</sign-button>

					<sign-button id="vet-btn" class="btn btn-default option-btn" ng-click="openVettingModal('lg')" ng-transclude>
						<div ng-show="showEnglish">Vet
						</div>
						<sign-video path="videos/video_labels/vet_label_320{{ext}}" type="{{format}}" width="150px" localpath="yes">
						</sign-video>
					</sign-button>
				</div> -->
			<div> <!-- close side-panel -->

			<video-modal path="{{lectureInfo.lecture_path}}{{ext}}" format="{{format}}" lectureViewed="lectureViewed"></video-modal>

		</div>
	</div>
	<div class="row text-center topic-bg" ng-show="termSelected">
	<!-- <div class="col-xs-3"> --> <!-- required for floating -->
	<!-- Nav tabs -->
	<div class="col-md-12">
		<div class="box-container">

			<div id="panes">
				<div class="tab-content">
					<div class="tab-pane active" id="sign">
						<video-player id="signVideoPlayer" path="{{signVideoFile + ext}}" type="{{format}}" width="500px"></video-player>
					</div>
					<div class="tab-pane" id="definition">
						<video-player id="defVideoPlayer" path="{{defVideoFile + ext}}" type="{{format}}" width="500px"></video-player>
					</div>
					<div class="tab-pane" id="example">
						<video-player id="exVideoPlayer" path="{{exVideoFile + ext}}" type="{{format}}" width="500px"></video-player>
					</div>
					<div class="tab-pane" id="vet">
						<p>Please select a new term.</p>
					</div>
				</div>
			</div>

			<div id="tabs" class="pull-right">
				<ul class="nav nav-tabs tabs-right" id="option-tabs">
					<li class="active">
						<a id="sign-tab" href="lecture/#sign" data-toggle="tab" ng-click="playSignVideo()">
							<div ng-show="showEnglish">Sign</div>
							<sign-video path="videos/video_labels/SIGN_label_FF_320_BS{{ext}}" type="{{format}}" width="150px" localpath="yes" hover="yes">
							</sign-video>
						</a>
					</li>
					<li ng-show="definitionExists">
						<a href="/lecture/#definition" data-toggle="tab" ng-click="playDefVideo()">
							<div ng-show="showEnglish">Definition</div>
							<sign-video path="videos/video_labels/DEFINITION_LABEL_FF_320_BS{{ext}}" type="{{format}}" width="150px" localpath="yes" hover="yes">
							</sign-video>
						</a>
					</li>
					<li ng-show="exampleExists">
						<a href="/lecture/#example" data-toggle="tab" ng-click="playExVideo()">
							<div ng-show="showEnglish">Example</div>
							<sign-video path="videos/video_labels/EXAMPLE_label_FF_320_BS{{ext}}" type="{{format}}" width="150px" localpath="yes" hover="yes">
							</sign-video>			
						</a>
					</li>
					<li>
						<a href="/lecture/#vet" data-toggle="tab" ng-click="openVettingModal('lg')">
							<div ng-show="showEnglish">Vet</div>
							<sign-video path="videos/video_labels/vet_label_320{{ext}}" type="{{format}}" width="150px" localpath="yes" hover="yes">
							</sign-video>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</section>

<script>
$(document).ready(function() {
	// var left_btn = $('#left-btn');
	// var terms_cont = $('#terms-panel');

	// console.log('Button position: ' + JSON.stringify(left_btn.offset()));
	// console.log('Button Top: ' + left_btn.offset().top);
	// console.log('Button Height: ' + left_btn.outerHeight());

	// console.log('TermC: ' + terms_cont.outerHeight());

	$("#left-btn").css({"margin-top":60});
	$("#right-btn").css({"margin-top":60});

	$('#left-btn').click(function(event) {
		event.preventDefault();
		var currScroll = $('#terms-scroller').scrollLeft();
		$('#terms-scroller').animate({
	        scrollLeft: currScroll - 205
	    }, 250);
	});
		
	$('#right-btn').click(function(event) {
		//console.log('Scrolling...');
		// $('#terms-subcontainer').scrollLeft(100);
		event.preventDefault();
		var currScroll = $('#terms-scroller').scrollLeft();
		$('#terms-scroller').animate({
	            scrollLeft: currScroll + 205
	    }, 250);
			
	});
})

</script>