<div class="container">
	<div class="row text-center topic-bg">
		<!-- For each topic available, create topic containers -->
		<div class="col-md-12">
			<div class="topic-container" ng-repeat="topic in topics">
				<h3>{{topic}}</h3>
				<!-- For each lecture with this topic, show the preview video -->
				<a ng-repeat="lecture in lectures | filter: { topic:topic }" href="#/lecture/{{lecture.id}}" ng-click="selectLecture(lecture.id)">
					<div class="lecture-holder center-block">
						<p ng-show="showEnglish">{{lecture.name}}</p>
						<sign-video width="150px" path="{{lecture.preview + ext}}" type="{{format}}">
						</sign-video>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
