<div class="modal-header">
    <h3 class="modal-title">Question ({{currIndex+1}}/{{questionCount}})</h3>
    <sign-video ng-show="currIndex==0" class="center-block" localpath="videos/vetting_questions/vetting_a_320{{ext}}" type="{{format}}"></sign-video>
    <sign-video ng-show="currIndex==1" class="center-block" localpath="videos/vetting_questions/vetting_b_320{{ext}}" type="{{format}}"></sign-video>
    <sign-video ng-show="currIndex==2" class="center-block" localpath="videos/vetting_questions/vetting_c_320{{ext}}" type="{{format}}"></sign-video>
    <sign-video ng-show="currIndex==3" class="center-block" localpath="videos/vetting_questions/vetting_d_320{{ext}}" type="{{format}}"></sign-video>
    <sign-video ng-show="currIndex==4" class="center-block" localpath="videos/vetting_questions/vetting_e_320{{ext}}" type="{{format}}"></sign-video>
    <sign-video ng-show="currIndex==5" class="center-block" localpath="videos/vetting_questions/vetting_f_320{{ext}}" type="{{format}}"></sign-video>
    <sign-video ng-show="currIndex==6" class="center-block" localpath="videos/vetting_questions/vetting_g_320{{ext}}" type="{{format}}"></sign-video>
</div>
<div class="modal-body text-center">
    
    <p ng-show="showEnglish">{{currQuestion.question}}</p>
    
    <likert-scale answers="answers" index="currIndex" qtype="{{questions[currIndex].type}}"></likert-scale>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" ng-click="goToPrev()">&lt;</button>
    <button class="btn btn-primary pull-right" ng-click="goToNext()">&gt;</button>
    <button id="submit-answers-btn" class="btn btn-success center-block" ng-click="submit()" ng-disabled="!completed">Submit</button>
</div>